body            { font-family: sans-serif;}
a       		{ color: #0645ad; }
h1, h2          { font-family: 'Georgia', serif; color: #a5870e;}
h1              { font-size: 2.5em;}
h2              { font-size: 1.5em; margin-bottom: 1em;}
canvas {
	width: 50em;
	height: 400px;
}
html {
	overflow-y: scroll;
}
.navbar {
	background: #ededed;
	border-bottom: 1px solid #d8d8d8;
}
.nav-link {
	color: #000000;
}
.page-content {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 2%;
	margin-bottom: 5%
}

.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; margin-top:2%;
              	  margin-left: 10%; margin-right: 10%;
              	  border-radius: 5px;}
.error          { background: #f0d6d6; padding: 0.5em; }
.submission-button {margin-bottom: 1cm; text-align: center;}
.footer 		{ font-size: 0.8em; margin-top: 0.5cm; margin-left: 10%;
				  margin-right: 10%;}
.back-button	{ margin-top: 0.3cm; margin-bottom: 1cm}
.subtext		{ font-size: 0.8em; margin-bottom: 0.5cm}
.url-text {
	font-style: italic;
	font-size: 0.9em;
}
.chart-container {
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.metrics-partners {
	margin-top:2em;
}
.scheduled-tasks {
	margin-top: 3em;
}
.metrics-notes {
	border: 1px solid #888888;
	border-radius: 5px;
	padding: 6px;
	box-shadow: 1px 1px 3px;
	font-size:0.7em;
	margin-top: 5px;
}
.linksearch {
	font-size:0.7em;
	text-align: center;
	margin-top: 10px;
}