<!doctype html>
<title>TWL Tools</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>TWL Tools</h1>
  <form action="/submit/" method="post">
  <p class="submission-button">
  <input type="submit" name="submit_proxy" value="Proxy">
  </p><p class="submission-button">
  <input type="submit" name="submit_metrics" value="Metrics">
  </p>
  </form>
  {% if status %}
    {{ status }}
  {% endif %}
  {% if results %}
    <li>Total periodicals: {{ results["periodicals"] }}</li>
    <li>Number of unique periodicals: {{ results["unique_periodicals"] }}</li>
    <li>Number of periodicals accessible by proxy: {{ results["proxy"] }}</li>
    <li>Number of bundle periodicals: {{ results["bundle"] }}</li>
  {% endif %}
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>