{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<div class=login-header>
  Some functions of this website are only for use by Wikipedia Library staff.
</div>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('login') }}" method=post>
  <dl>
    <dt>Username:
    <dd><input type=text name=username>
    <dt>Password:
    <dd><input type=password name=password>
    <dd><input type=submit class="btn btn-primary" value=Login>
  </dl>
</form>
{% endblock %}