<!doctype html>
<title>TWL Tools - Pageviews</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>TWL Tools/Pageviews log</h1>
  <div class="back-button">
    <a href="{{ url_for('index') }}">Back</a>
  </div>

  <div class="header-text">
    The pageviews data script runs automatically, at 00:00 UTC on the 3rd of each month (to ensure all the pageviews data for the previous month is present).
    <br>
    <br>
    Below you will find a log of the last run, including any new pages that have been added to categories since the last run, any API errors that were returned, and any languages which were skipped because they were already collected (which should rarely be the case).
  </div>

  {% if results %}
    {% for result in results %}
      {{ result }}
      <br>
    {% endfor %}
  {% else %}
    Pageviews have either not yet been calculated, or the latest log file was deleted.
  {% endif %}

  {#<div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}#}
</div>